/* MAIN SETING */
*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  width: 1158px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

/* TEXT */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* ======= HEADER======*/

.header .container {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
  margin-bottom: 24px;
  margin-top: 24px;
}

.header-logo-black {
  color: #2e2f42;
}

.header-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: flex;
  gap: 40px;
}

.header-list-item {
}

.header-list-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.header-list-link:hover,
.header-list-link:focus {
  color: #404bbf;
}

.address {
  margin-left: auto;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-list-item {
}

.address-links {
}

.address-contact {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-contact:hover,
.address-contact:focus {
  color: #404bbf;
}

/* =====HEAD=SECTION===== */

.head {
  background: #2e2f42;
  padding-bottom: 188px;
}

.head-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  padding-top: 188px;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
  text-align: center;
}

.btn-order-service {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  border-radius: 4px;
}

.btn-order-service:hover,
.btn-order-service:focus {
  background-color: #404bbf;
}

/* =====BENEFITS===== */
.benefits {
  padding-top: 120px;
  padding-bottom: 120px;
}

.benefits-title {
}

.benefits-list {
  display: flex;
  gap: 25px;
}

.benefits-list-item {
}

.benefits-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

.benefits-list-text {
  max-width: 264px;
}

/* =====TEAM===== */
.team {
  background: #f4f4fd;
}

.team-title {
  padding-top: 120px;
  margin-bottom: 72px;
}

.team-list {
  padding-bottom: 120px;
  display: flex;
  gap: 24px;
}

.team-list-item {
  background-color: #ffffff;
}

.team-img {
}

.team-card {
  padding: 32px 16px;
  border-radius: 0 0 4px 4px;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team .team-text {
  color: #434455;
}

.team-text {
  text-align: center;
}

/* =====PORTFOLIO===== */

.portfolio {
}

.portfolio-title {
  padding-top: 120px;
  margin-bottom: 72px;
}

.portfolio-list {
  padding-bottom: 120px;
  margin-bottom: 120px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.portfolio-list-item {
}

.portfolio-img {
  /* margin-bottom: 32px; */
}

.portfolio-card {
  padding-top: 32px;
  padding-left: 16px;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
}

.portfolio-subtitle {
  text-align: left;
  margin-bottom: 8px;
}

.portfolio-list-text {
}

/* =====FOOTER===== */

.footer {
  background: #2e2f42;
  padding-top: 101.5px;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.footer-logo-accent {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  padding-bottom: 100px;
  max-width: 264px;
}
